#CL-AI:hover {
            fill: cornflowerblue;
            transition: 250ms;
        }

        #CL-MA:hover {
            fill: cornflowerblue;
            transition: 250ms;
        }

        #CL-TA:hover {
            fill: cornflowerblue;
            transition: 250ms;
        }

        #CL-AN:hover {
            fill: cornflowerblue;
            transition: 250ms;
        }

        #CL-AT:hover {
            fill: cornflowerblue;
            transition: 250ms;
        }

        #CL-CO:hover {
            fill: cornflowerblue;
            transition: 250ms;
        }

        #CL-RM:hover {
            fill:cornflowerblue;
            transition: 250ms;
        }

        #CL-VS:hover {
            fill: cornflowerblue;
            transition: 250ms;
        }

        #CL-AR:hover {
            fill: cornflowerblue;
            transition: 250ms;
        }

        #CL-LI:hover {
            fill: cornflowerblue;
            transition: 250ms;
        }

        #CL-LL:hover {
            fill: cornflowerblue;
            transition: 250ms;
        }

        #CL-ML:hover {
            fill: cornflowerblue;
            transition: 250ms;
        }

        #CL-AP:hover {
            fill: cornflowerblue;
            transition: 250ms;
        }

        #CL-LR:hover {
            fill: cornflowerblue;
            transition: 250ms;
        }

        #CL-BI:hover {
            fill: cornflowerblue;
            transition: 250ms;
        }

        #CL-NU:hover {
            fill: cornflowerblue;
            transition: 250ms;
        }